In [21]:
alpha=1+3+4+5+6+\
        10+12+13+\
        12+26*3       
""" Usage of black slash to give single line statement in multiline"""
print(alpha)

144

In [3]:
def double(num):
    """Function to double"""
    print(num*2)
    """ syntax to print docstring inside a function is (FUNCTIONNAME.__DOC__)"""
    print(double.__doc__)
    print(double.__doc__)
double(5)

10
Function to double
Function to double

In [4]:
a=1
""" if we give a=1, the address of 1 is copied to the variable a"""

' if we give a=1, the address of 1 is copied to the variable a'

In [26]:
a=5
b=5.3
c="python"
d="c"
type(a)
#type(b)
#type(c)
#type(d)
#python is a TYPE INFERRED LANGUAGE . IT IDENTIFY THE DATATYPE BY ITSELF

int

In [28]:
#EXAMPLE PROGRAM THAT CAN BE DONE ONLY ON IDLE USING TWO FILES
#A=5
#B=5    """ FILE NAME= class.py"""
  
    
#print(class.a)
#print(class.b)    """ FILE NAME= main.py"""

In [29]:
#usage of "None"
books="available"
papers= None
def books(x):
    if(x==books):
        print("books are not available")
    else:
        print(papers)
        
books(papers)

None

In [40]:
#LISTS
list1=["apple","dog","orange"]
print(list1[0])  #list allows indexing
list1[1]="pineapple"   #list are mutable
print(list1)
del(list1[1])#deletion through indexing is ALLOWED
print(list1)

apple
['apple', 'pineapple', 'orange']
['apple', 'orange']

In [2]:
#TUPLE
tuple1=("apple","dog","orange")
print(tuple1[0])#tuple allows indexing
#tuple1[1]="pineapple"#tuple are immutable
#(tuple1)#del(tuple1[1])#deletion through indexing is NOT ALLOWED
#del(tuple[1])
print(tuple1)

apple
('apple', 'dog', 'orange')

In [44]:
#DICTIONARY
dict1={1:"apple",2:"dog",3:"orange"}
print(dict1[1])#dictionary allow indexing only through KEYS
dict1[2]="pineapple"#dictionary is mutable 
print(dict1)
del(dict1[1])#deletion through keys are ALLOWED
print(dict1)

apple
{1: 'apple', 2: 'pineapple', 3: 'orange'}
{2: 'pineapple', 3: 'orange'}

In [4]:
#SETS
set1={"apple","dog","orange"}
#print(set1[0])#sets neither supports indexing nor supports assignment
#set1[1]="pineapple"
print(set1)
#del(set1[1])#deletion not allowed
print(set1)

{'apple', 'dog', 'orange'}
{'apple', 'dog', 'orange'}

In [2]:
#2D LIST
l=["hello",[1,2,3],"dog"]
print(l[0][1])

e

In [14]:
#A WAY OF APPENDING ELEMENTS IN A LIST
odd=[1,2,3]
print(odd+[5,6])

[1, 2, 3, 5, 6]

In [6]:
print(odd*3) #A WAY OF REPEATING ELEMENTS IN THE LIST

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [16]:
#DEL FUNCTIONS
odd=[1,2,3]
del odd[0]
print(odd)

[2, 3]

In [20]:
odd=[1,2,3]
del odd
print(odd) #

NameError: name 'odd' is not defined

In [24]:
#REMOVE FUNCTION
odd=[1,2,3]            #REMOVE FUNCTION TAKES ELEMENT AS THE ARGUMENT
odd.remove(1)
print(odd)

[2, 3]

In [25]:
#REMOVE FUNCTION
odd=[1,2,3]
odd.remove(1)
print(odd)

[2, 3]

In [28]:
#REMOVE FUNCTION
odd=[1,2,3]
odd.pop(1)
print(odd)             #POP FUNCTION TAKES INDEX AS THE ARGUMENT

[1, 3]

In [30]:
#REMOVE FUNCTION
odd=[1,2,3]
odd.pop(2)
print(odd)             #POP FUNCTION TAKES INDEX AS THE ARGUMENT

[1, 2]

In [48]:
#CLEAR FUNCTION
odd=[1,2,3]
odd.clear()      #CLEARS EVERY ELEMENT BUT NOT THE LIST
print(odd)

[]

In [49]:
#APPEND FUNCTION
odd.append(4)   #since the list odd is cleared it has only one element, if we again run the program two 4s will be there
print(odd)

[4]

In [50]:
#EXTEND FUNCTION
odd.extend([5,6,7])
print(odd)

[4, 5, 6, 7]

In [61]:
#INSERT FUNCTION
odd=[1,2,3]
odd.insert(0,6)
print(odd)

[6, 1, 2, 3]

In [56]:
odd=[1,2,3]
odd.insert(3,2)
print(odd)

[1, 2, 3, 2]

In [60]:
odd=[1,2,3]
odd.insert(3,[1,2,3,4,5])
print(odd)

[1, 2, 3, [1, 2, 3, 4, 5]]

In [66]:
#REVERSE FUNCTION
odd=[1,2,3]
odd.reverse()
print(odd)

[3, 2, 1]

In [71]:
#COPY FUNCTION
odd=[1,2,3]
odd1=odd.copy()
print(odd1)

[1, 2, 3]

In [74]:
#SORT FUNCTION
odd=[1,2,3,1,-2,-3]
odd.sort()
print(odd)

[-3, -2, 1, 1, 2, 3]

In [80]:
#COUNT FUNCTION
odd=[1,2,3,1,-2,-3]
odd.count(1)

2

In [83]:
#LIST COMPREHENSION
l=[2**x  for x in range(10)]
print(l)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [84]:
#LIST COMPREHENSION
l=[2**x  for x in range(10) if(x%2)==0]
print(l)

[1, 4, 16, 64, 256]

In [86]:
#how to idenify tuple
t=(1.5)
type(t)

float

In [88]:
t=(1.5,)
type(t) #FOR ONE ELEMENT IF WE GIVE COMMA IT INDICATES TUPLE

tuple

In [91]:
t=(1,2,3,[4,5])
t[3][0]=9
print(t) #TUPLE SUPPORTS ITEM ASSIGNMENT ONLY WHEN IT WAS GIVEN INSIDE WITH LIST

(1, 2, 3, [9, 5])